<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blue Energy Coin</title>

    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Chat -->
    <link href="css/chat/jquery.jqplot.min.css" rel="stylesheet">
    <link href="css/chat/jquery-ui.css" rel="stylesheet">
    <link href="css/chat/jquery.jqplot.css" rel="stylesheet">


   

    <!-- Gritter -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="css/style.css" rel="stylesheet">
    <link href="styles/fonts.css" rel="stylesheet">
    <link href="styles/welcome.css" rel="stylesheet" type="text/css">
    <link href="styles/address.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="btn btn-primary dropdown-btn" href="#"><i class="fa fa-bars"></i></a>
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle flag_selected" data-toggle="dropdown"><i class="fa fa-angle-down"></i> ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a>
                <ul role="menu" class="dropdown-menu opt_flag">
                    <li><a href="#">ENG&nbsp;&nbsp;<img src="img/flag_eng.png"></a></li>
                    <li><a href="#">RUS&nbsp;&nbsp;<img src="img/flag_rus.png"></a></li>
                    <li><a href="#">SPA&nbsp;&nbsp;<img src="img/flag_spa.png"></a></li>
                    <li><a href="#">FRA&nbsp;&nbsp;<img src="img/flag_fra.png"></a></li>
                </ul>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="top-link">
                    <span class="total-balance"><img src="img/wallet-icon.png" style="margin-top: -5px;"> &nbsp;<span style="color:#384a68;"> FIAT balance: </span>&nbsp;&nbsp;&nbsp;<strong><span>0</span> </strong></span>
                </li>
                <li class="top-link">
                    <span class="total-balance"><img src="img/balance-icon.png" style="margin-top: -5px;"> &nbsp;<span style="color:#384a68;"> Token balance: </span>&nbsp;&nbsp;&nbsp;<strong><span>0</span> BEAN</strong></span>
                </li>
                <li class="dropdown top-link">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa img-icon"><img src="img/alert-icon.png"></i> <i class="fa fa-angle-down white-color"></i></a>
                    <ul class="dropdown-menu alert-dropdown fa">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown top-link">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa img-icon"><img src="img/user-icon.png"></i><span class="username"> <%=username%> </span><i class="fa fa-angle-down white-color"></i></a>
                    <ul class="dropdown-menu fa">
                        <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li> -->
                        <li>
                            <a href="/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="navbar-default navbar-static-side side-nav" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav side-navbar" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a href="/welcome">
                                <img alt="image" class="" src="img/dashboard-logo.png" style="display: inline-block;">
                            </a>
                            <span class="profile-text"><strong class="font-bold">Blue Energy</strong> Wallet</span>
                        </div>
                    </li>
                    <li>
                        <a href="/welcome"><img src="img/dashboard-icon.png"><span class="nav-label">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/history"><img src="img/history-icon.png"><span class="nav-label">Transaction History</span></a>
                    </li>
                    <li class="active">
                        <a href="/address"><img src="img/address-icon.png"><span class="nav-label">Account Address</span></a>
                    </li>
                    <li>
                        <a href="/send"><img src="img/send-icon.png"><span class="nav-label">Send</span></a>
                    </li>
                    <li>
                        <a href="/logout"><img src="img/logout-icon.png"><span class="nav-label">Log out</span></a>
                    </li>
                </ul>
                <div class="in_sidebar_bt_links">
                    <a href="/welcome" target="_blank">Terms</a>
                    <a href="/welcome" target="_blank">Blog</a>
                    <a href="/welcome" target="_blank">FAQ</a>
                </div>

            </div>
        </nav>

        <div id="page-wrapper">
            <div class="cotainer-fluid">
                <div class="row">
                    <div class="col-md-12 wallet-part">
                        <div class="panel-heading">
                            <span class="panel-title"><span class="title-border">Wallet&nbsp;&nbsp;</span> address</span>
                        </div>
                        <div class="row panel-body">
                            <div class="col-md-6">
                                <span class="wallet-notice">Send only BEAN  to this address</span>
                                <form class="cls-form">
                                    <div class="input-group">
                                        <span class="hint">Address</span>
                                        <a href="javascript;" class="btn-inputRight btn-copy btn-copy-0"  onclick="copyToClipboard()">
                                          <span class="copied-txt">
                                          <i class="fa fa-fw fa-check"></i>Copied
                                          </span>
                                          <span class="copy-txt">copy</span>
                                        </a>
                                        <div class="stretchBox">
                                            <!-- <input type="text" name="address" class="qrcode-val" value="1PJbncWV7nbr4ubNh1W4ZGCzznRcQHEiRZ">
                                            </input> -->
                                          <div class="input">
                                            <span class="source"><%=walletaddress%></span>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="backup">
                                    <span class="backup-text">Want to backup your wallet?</span>
                                    <a href="#" class="btn1 action-btn" id="download_btn">BACKUP</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="qrcode" style="padding: 50px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right right-text">
                    Have any questions? Please contact us at support@gmail.com
                </div>
                <div class="left-text">
                    &copy; 2017 Blue Energy, All rights reserved
                </div>
            </div>
        </div>
    </div>
    
    <!-- Mainly scripts -->
    <!-- <script src="/js/dependencies/sails.io.js"></script> -->
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.dropdown-btn').click(function(){
                $('#side-menu').slideToggle("slow");
            });
            $(window).resize(function(){
                if ($(window).width() > 768) {
                    $('#side-menu').show();
                }
            });
            $('.load-btn').click(function(){
                var text = $(this).text();
                $(this).addClass('loading');
                $(this).text('');
                $(this).append('<i class="fa fa-spinner"></i>');
                loadingAction($(this), text);
                return false;
            });
            $('.btn-copy').click(function(){
              $(this).addClass('copied');
                return false;
            });

            $('#qrcode').qrcode({
                width: 264,
                height: 261,
                text: '<%=walletaddress%>'
            });
            $('#download_btn').click(function(){
                var btn = $(this).text();
                $(this).text('');
                $(this).append('<i class="fa fa-spinner"></i>');
                var filename = 'Wallet Address.txt';
                var text = '<%=walletaddress%>';
                var type = 'text/html';
                downloadInnerHtml(filename, text, type);
                $(this).text(btn);
                return false;
            });
        });
        function loadingAction(element, text){
            setTimeout(function(){
                element.removeClass('loading');
                element.text(text);
            }, 5000);
        };
        function copyToClipboard() {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($('.source').text()).select();
          document.execCommand("copy");
          $temp.remove();
        };
        function downloadInnerHtml(filename, text, mimeType) {
            // var elHtml = document.getElementById(elId).innerHTML;
            var link = document.createElement('a');
            mimeType = mimeType || 'text/plain';
            link.setAttribute('download', filename);
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(text));
            link.click(); 
        };
    </script>
    
</body>
</html>
